* {
  font-family: 'Roboto', sans-serif;
}

body {
  /*background: url("/images/Trees.png") ;*/
}

/* DISPLAY */

.none {
  display: none;
}

.grid {
  display: flex;
}

/*****
HEADER
*****/ 

.app-header-container {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  z-index: 0;
  background-color: white;
}

.header-container {
  display: flex;
  flex-direction: column
}

.header-user-container {
  margin: 12px;
  display: flex;
  justify-content: flex-end  
}

.header-botones-container {
  display: flex;
  justify-content: flex-end
}

.header-button {
  margin: 12px;
}

/* MENU */

.no-decoration-text {
  text-decoration: none;
}

/*************** 
SIGN IN & LOG IN 
***************/

.app-login-signin-paper-container {
  display: flex;
  justify-content: space-around;
}

.login-material-ui-paper {
  height: 500px;
  width: 500px;
  margin: 30px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.login-title {
  text-align: center;
  margin: 40px;
}

.login-form-container {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.login-button {
  margin: 40px; 
}

/************** 
CUESTIONARIO AQ 
**************/

.aq-material-ui-paper {
  max-width: 100%;
  padding: 30px;
  margin: 30px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.aq-container {
  margin-top: 100px;
}

.aq-box-1 {
  display: flex;
  flex-direction: column;
}

.aq-text {
  max-width: 800px;
  margin-bottom: 0;
}

.aq-question {
  font-size: 20px;
  margin-top: 80px;
}

.aq-box-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.aq-button {
  margin: 12px;
}

.aq-enviar-text-material-ui-paper {
  max-width: 100%;
  padding: 30px;
  margin: 30px;
  display: flex;
}

/************************** 
ALL ANSWERS CUESTIONARIO AQ 
**************************/

.all-answers-cuestionario-AQ-container {
  margin-top: 150px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table td {
  padding: 10px;
}

.table tbody td {
  border-bottom: 1px solid #eaecef;
  border-left: 1px solid #eaecef;
  border-right: 1px solid #eaecef;
}

.table tbody tr:nth-of-type(2n) {
  background-color: rgba(90, 90, 90, 0.05);
}

.table thead {
  border: 1px solid #c8e1ff;
  background-color: #f1f8ff;
}

.tdStyle {
  text-align: center;
}